/*
Theme Name: Ezy Skipbin
Author: Putu Winata
Author URI: http://www.somsweb.com.au
Description: Ezy Premium Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: responsive-layout
Text Domain:Ezy
*/
body{font-family: 'Open Sans', sans-serif; font-size: 18px; background: #fff !important;line-height:unset !important;color:#000 !important;}
p{font-family: 'Open Sans', sans-serif; font-size: 18px; margin-bottom: 10px !important;color:#575757;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-family: 'Alfa Slab One' !important;margin-bottom:0 !important;letter-spacing:1.1px;}
a{ text-decoration: none; }
a:hover, a:focus{ text-decoration: none !important; color: #0a6cb3; cursor:pointer;}
strong{ font-weight: bold; }
em{ font-style: italic; }
img{ max-width: 100%; margin: auto; height: auto; display: block; }
ul{padding-left:20px;}
ul li{list-style:none;}
.form-control{ border-color: #d8d8d8; padding: 3px 12px !important;}
.form-control:focus{ border-color: #3fb3e3; }
div.wpcf7-response-output{padding:0 !important;}
.custom-container{width: 100%;margin-right: auto;margin-left: auto;}
button{border:none !important;cursor:pointer;}
button .fa{margin-right:5px;}
.fa{margin-right:5px;}
form{margin:0;}
.main-content ul li{list-style:initial;font-size:16px;}
.wpcf7-submit{border:none;cursor:pointer;font-family:'Lato',sans-serif,FontAwesome !important}
.modal-header{background-color:#0a6cb3;color:#fff;}
.modal-header.error{background-color:#ED4337;color:#fff;}
.alpha-title{background-color: #f5f5f5;}
.cant_put{color:#DC0E11 !important;}
ul.without-bullet li{list-style-type:none;}
.gray-background{background-color: #d7d7d7}
.green-background{background-color: #0a6cb3}
.slick-prev:before, .slick-next:before {color:#0a6cb3 !important;font-weight: 700;font-size:30px;}
.slick-dots li button{background:#0a6cb3;width: 5px;height: 5px;border-radius:8px;}
.line-height{line-height:1.5em}
.form-control.front-zipcode{padding:8px 12px !important;}
.content-header {background-color:#0a6cb3}
/* PRELOADER */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #0a6cb3;
	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	
	z-index: 1001;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #7cb241;

	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #0a6cb3;
	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #ffffff;
	z-index: 1000;
	-webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(0);  /* IE 9 */
	transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(-100%);  /* IE 9 */
			transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
			transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(100%);  /* IE 9 */
			transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
   
.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;  
			transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateY(-100%);  /* IE 9 */
			transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s 1s ease-out;  
			transition: all 0.3s 1s ease-out;
}    
/* JavaScript Turned Off */
.no-js #loader-wrapper {
	display: none;
}
.no-js h1 {
	color: #222222;
}

#content {
	margin: 0 auto;
	padding-bottom: 50px;
	width: 80%;
	max-width: 978px;
}  
/* END PRELOADER */

/**************TOP HEADER******************/
.top-header{
	border-bottom: 1px solid #c2c2c2;
	padding: 5px 0 5px 0;
}
.top-header .top.navbar ul li{
	-moz-transition: all .5s ease, background-color .2s ease;
	-o-transition: all .5s ease, background-color .2s ease;
	-webkit-transition: all .5s ease, background-color .2s ease;
	transition: all .5s ease, background-color .2s ease;
}
.top-header .top.navbar ul li:hover{
	background-color: #eaeaea
}
.top-header .top.navbar ul li.active{
	background-color: #eaeaea
}
.top-header .top.navbar ul li a{
	color: #959595 !important;
	font-size:12px;
	padding:0px 15px;
	border-right: 1px solid #959595;
}

@media screen and (max-width:575.98px){
	.top-header .top.navbar ul li a{
		padding:10px 0px;
		border:none;
	}
}

@media screen and (min-width:992px) and (max-width:1199.98px){
	.top-header .top.navbar ul li a{
		font-size:10px;
	}
}
.top-header .top.navbar ul li a:hover{
	color: #0a6cb3 !important;
}
.cta-wrapper{
	display:inline-flex;
	padding: 5px;
	margin-bottom:0px;
}
.cta-wrapper li:hover{
	background-color: #eaeaea
}
.cta-wrapper li a{
	color: #959595 !important;
	font-size:12px;
	padding: 0px 15px;
	text-transform:uppercase;
	border-right: 1px solid #959595;
}
@media screen and (max-width:767.98px){
	.cta-wrapper li a{
		font-size:10px; 
	}
}
@media screen and (min-width:768px) and (max-width:991.98px){
	.cta-wrapper li a{
		font-size:10px; 
	}
}
@media screen and (min-width:992px) and (max-width:1199.98px){
	.cta-wrapper li a{
		font-size:10px;
	}
}
.cta-wrapper li a:hover{
	color: #0a6cb3 !important;
}
.cta-wrapper li a{
	color: #959595 !important;
}
.cta-wrapper li a i.fa{
	color: #0a6cb3 !important;
}

@media screen and (min-width:992px) and (max-width:1199.98px){
	.cta-wrapper .cta-box{
		line-height:15px;
	}
}
.top-header .social-media{
	display: inline-flex;
	margin-bottom: 0;
	padding: 5px;
}
.top-header .social-media li{
	padding: 0px 15px;
}
.top-header .social-media li a{
	font-size: 18px;
	color: #0a6cb3 !important;
	-moz-transition: all .5s ease, background-color .2s ease;
	-o-transition: all .5s ease, background-color .2s ease;
	-webkit-transition: all .5s ease, background-color .2s ease;
	transition: all .5s ease, background-color .2s ease;
}
.top-header .social-media li a:hover{
	color: #cec22f !important;
}
/*********************************************/
/**************BOTTOM HEADER******************/
.navigation{
	background-color: #fff;
	border-bottom: 1px solid #c2c2c2;
}
.header-wrap{
	padding:5px 0;
}
.header .navbar-nav li{
	list-style-type:none;
}

@media screen and (max-width:575.98px){
	.navigation .navbar-collapse{
		background-color: #eaeaea;
	}
}

.navigation .navbar-nav .nav-item a{
	color: #575757 !important;
	font-size: 14px;
	text-transform:uppercase;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

@media screen and (min-width:992px) and (max-width:1199.98px){
	.navigation .navbar-nav .nav-item a{
		font-size:12px;
	}
}

/*.navigation .navbar-nav .nav-item.active a, .navigation .navbar-nav .nav-item a:focus, .navigation .navbar-nav .nav-item a:hover{
	color:#575757 !important;
	background: #0a6cb3;
}*/

.navigation .navbar-nav .nav-item a:hover{
	color:#7cb241 !important;
}

@media screen and (max-width:992px){
	.navigation .navbar-expand-lg .navbar-nav a {
		padding-right: .7rem !important;
		padding-left: .7rem !important;
	}
}
@media screen and (min-width:1200px){
	.navigation .navbar-expand-lg .navbar-nav a {
		padding-right: .7rem !important;
		padding-left: .7rem !important;
	}
}

@media screen and (max-width:575.98px){
	.navigation .navbar-nav{
		background:transparent;
		border: 1px solid rgba(0a6cb3,0a6cb3,0a6cb3,.4);;
	}
}

@media screen and (min-width:992px) and (max-width:1198.98px){
	.navbar-expand-lg .navbar-nav .nav-link{
		font-size:13px;
	}
}

.top.navbar-toggler {
	color: #0a6cb3 !important;
	border-color: #0a6cb3 !important;
}

.bottom.navbar-toggler {
	color: #b1a600 !important;
	border-color: #b1a600 !important;
	font-size:28px;
}

.header-banner{
	padding-top: 2rem;
}
/*********************************************/

/**************SLIDER******************/
.slides img{
	width:100%;
}
@media screen and (min-width:1024px)  and (max-width:1198.98px){
	.slides img{
		flex: 0 0 50%;
		min-height: 100%;
		height: 230px;
	}
}
@media screen and (max-width:575.98px){
	.carousel-caption{
		left:0 !important;
		right: 0 !important;
		bottom:0px !important;
	}
}
@media screen and (min-width:768px)  and (max-width:979.98px){
	.carousel-caption{
		left:0 !important;
		right: 0 !important;
		bottom:0px !important;
	}
}
@media screen and (min-width:980px)  and (max-width:1198.98px){
	.carousel-caption{
		left:0 !important;
		right: 0 !important;
		bottom: -10% !important;
		position: absolute;
	}
}
@media screen and (min-width:1200px){
	.carousel-caption{
		left:0 !important;
		right: 0 !important;
		bottom: -25% !important;
		position: absolute;
	}
}
@media screen and (max-width:420.98px){
	.carousel-caption h3{
		font-size: 12px;
		position: absolute;
		background: #7cb241;
		padding: 0px 30px;
		width: 100%;
		top:10px;
		text-align: center;
	}
}
@media screen and (max-width:421px) and (min-width:767.98px){
	.carousel-caption h3{
		font-size: 12px;
		position: absolute;
		background: #7cb241;
		padding: 10px 30px;
		width: 100%;
		top:10px;
		text-align: center;
	}
}
@media screen and (min-width:768px)  and (max-width:979.98px){
	.carousel-caption h3{
		font-size: 14px;
		position: absolute;
		background: #7cb241;
		padding: 10px 30px;
		width: 100%;
		top:0px
	}
}
@media screen and (min-width:980px)  and (max-width:1198.98px){
	.carousel-caption h3{
		font-size: 16px;
		background: #7cb241;
		padding: 10px 30px;
		width: 100%;
		
	}
}
@media screen and (min-width:1200px){
	.carousel-caption h3{
		font-size: 16px;
		background: #7cb241;
		padding: 10px 30px;
		width: 100%;
	}
}
@media screen and (max-width:575.98px){
	.carousel-caption img{
		width: 10%;
		position: absolute;
		right: 3px;
		bottom: -10px;
	}
}
@media screen and (min-width:768px)  and (max-width:979.98px){
	.carousel-caption img{
		width: 30%;
		position: absolute;
		right: 3px;
		bottom: -10px;
	}
}
@media screen and (min-width:980px)  and (max-width:1198.98px){
	.carousel-caption img{
		width: 30%;
		position: absolute;
		right: 3px;
		bottom: -10px;
	}
}
@media screen and (min-width:1200px){
	.carousel-caption img{
		width: 30%;
		position: absolute;
		right: 3px;
		bottom: -10px;
	}
}

/*********************************************/
/********************MAIN CONTENT*******************/
	.main-content{
		padding:15px 0;
		line-height: 1.5em;
	}
	.section-title{
		padding: 0 0 10px 0;
	}
	.section-title span, .section-title p{
		color: #959595;
	}
	.main-content h1, .main-content h2, .main-content h3, .section-title h1, .section-title h2, .section-title h3{
		font-size:22px;
		color: #0a6cb3 !important;
	}
	.main-content p{
		color: #000;
		font-size:18px;
	}
	.main-content ul li{
		color: #959595;
		font-size:18px;
	}
	.main-content strong{
		color: #000;
		font-size:18px;
	}
	.main-content a{
		color: #0a6cb3;
		font-size:18px;
	}
	.main-content a:hover {
		color: #0a6cb3;
	}
	
	.page-title h1, .archives-title h1{
		color:#fff !important;
	}
	
	@media screen and (max-width:767.98px){
		.page-title h1, .archives-title h1{
			font-size:1.8em;
		}
	}
	
	.green-background .main-content{
		color:#fff;
	}
	
	.green-background .main-content h1,.green-background .main-content h2, .green-background .main-content h3, .green-background .section-title h1,.green-background .section-title h2, .green-background .section-title h3{
		color:#fff !important;
	}
	
	.green-background .main-content p{
		color:#fff !important;
	}
	
	.green-background .main-content p, .green-background .main-content span, .green-background .section-footer p, .green-background .section-footer span{
		color:#ffff !important;
	}
	
	.grey-background .main-content h1,.grey-background .main-content h2, .grey-background .main-content h3, .grey-background .section-title h1,.grey-background .section-title h2, .grey-background .section-title h3{
		color: #575757 !important;
	}
	
	
/*********************************************/
/********************PAGE HEADER*******************/

@media screen and (max-width:420.98px){
	.best-price-wrapper .price{
		background: #7cb241;
		padding: 20px 5px;
		position: absolute;
		top: -10px;
		right: 20px;
		text-align: center;
	}
}
@media screen and (min-width:421px) and (max-width:575.98px){
	.best-price-wrapper .price{
		width:15%;
		background: #7cb241;
		padding: 25px 5px;
		position: absolute;
		top: -20px;
		right: 20px;
	}
}
@media screen and (min-width:576px) and (max-width:767.98px){
	.best-price-wrapper .price{
		width:14%;
		background: #7cb241;
		padding:30px 12px;
		position: absolute;
		top: -20px;
		right: 20px;
	}
}
@media screen and (min-width:768px) and (max-width:979.98px){
	.best-price-wrapper .price{
		width: 12%;
		background: #7cb241;
		padding: 30px 10px;
		position: absolute;
		top: -20px;
		right: 15px;
	}
}
@media screen and (min-width:980px) and (max-width:991.98px){
	.best-price-wrapper .price{
		width:12%;
		background: #7cb241;
		padding:30px 12px;
		position: absolute;
		top: -20px;
		right: 20px;
	}
}
@media screen and (min-width:992px) and (max-width:1199.98px){
	.best-price-wrapper .price{
		width:17%;
		background: #7cb241;
		padding:30px 12px;
		position: absolute;
		top: -20px;
		right: 20px;
	}
}
@media screen and (min-width:1200px){
	.best-price-wrapper .price{
		width:15%;
		background: #7cb241;
		padding:30px 12px;
		position: absolute;
		top: -20px;
		right: 20px;
	}
}

.best-price-wrapper .price span a{
	color: #04281f;
	font-family: 'Alfa Slab One';
	font-size: 24px;
}
@media screen and (max-width:767.98px){
	.best-price-wrapper .price span a{
		font-size:18px;
	}
}
h3.popover-header{
	color: #0a6cb3;
}
.best-price-wrapper .best-price-container{
	background-color: #0a6cb3;
}
.best-price-wrapper .best-price-container h3{
	color: #fff !important;
}
.compare-form-wrapper .compare-form-container{
	background-color: #0a6cb3;
}
.compare-form-wrapper .compare-form-container .section-title h3{
	color: #fff !important;
}
.compare-form-wrapper .compare-form-container .section-title span{
	color: #fff;
}
.compare-form-wrapper .compare-form-container .section-content button{
	font-size:12px;
}
.compare-form-wrapper .compare-form-container .section-footer p{
	font-size:12px;
	color: #fff;
}
.compare-form-wrapper .compare-form-container .section-footer a{
	font-size:12px;
}
.compare-form-wrapper .compare-form-container .section-footer ul{
	display: inline-flex;
}
.compare-form-wrapper .compare-form-container .section-footer ul li{
	list-style-type: none;
}
/**************************************************/
/********************FEATURES*******************/
.features-item strong{
	color: #0a6cb3;
}

.main-features img{
	width:50%;
}

.cta-main-content{
	padding: 0 15px;
	position: relative;
	display: inline-block;
	width: 100%;
}

.cta-main-content img{
	position: absolute;
	bottom: 0px;
	top: 0px;
	float: left;
	transform:scale(0.9);
	-moz-transform:scale(0.9);
	-webkit-transform:scale(0.9);
}
@media screen and (max-width:767.98px){
	.cta-main-content img{
		width:50%;
		position: unset;
		float:unset
	}
}
@media screen and (min-width:768px) and (max-width:1023.98px){
	.cta-main-content img{
		bottom: 10px;
		top: 10px;
		width:25%;
	}
}
@media screen and (min-width:1024px) and (max-width:1198.98px){
	.cta-main-content img{
		bottom: 10px;
		top: 10px;
		width:20%;
	}
}

@media screen and (min-width:768px) and (max-width:1023.98px){
	.cta-main-content .cta-desc{
		margin-left: 27%;
	}
}
@media screen and (min-width:1024px) and (max-width:1198.98px){
	.cta-main-content .cta-desc{
		margin-left: 25%;
	}
}
@media screen and (min-width:1200px){
	.cta-main-content .cta-desc{
		margin-left: 35%;
	}
}
/**************************************************/
/********************FEATURES*********************/
.highlights{
	position: relative;
}
@media screen and (min-width:768px) and (max-width:979.98px){
	.highlights .img-wrapper.highlights-home-content{
		padding-top:15px;
		padding-bottom:15px;
	}
}
@media screen and (min-width:980px) and (max-width:991.98px){
	.highlights .img-wrapper.highlights-home-content{
		padding-top:15px;
		padding-bottom:15px;
	}
}
@media screen and (min-width:992px) and (max-width:1198.98px){
	.highlights .img-wrapper.highlights-home-content{
		padding-top:15px;
		padding-bottom:15px;
	}
}
@media screen and (min-width:1200px){
	.highlights .img-wrapper.highlights-home-content{
		position: relative;
	}
}
.highlights .highlights-home-content img{
	box-shadow: 2px 2px 10px #000;
}

.highlights .highlights-home-content h3, .highlights .highlights-home-content span{
	color: #000;
}
/**************************************************/
/***************FOOTER ****************************/
footer .top-footer ul{
	padding-left:0;
	margin-bottom:0 !important
}
footer .top-footer ul li{
	list-style:none;
	padding:5px 0;
}
footer .main-content{
	padding:05px 0;
}
@media screen and (max-width:767.98px){
	footer .top-footer ul li a{
		font-size:11px;
	}
	
	footer .top-footer ul.social-media li a{
		font-size:18px;
	}
}
@media screen and (max-width:767.98px){
	.footer-logo img{
		margin:auto !important;
	}
}
@media screen and (min-width:768px) and (max-width:991.98px){
	.footer-logo img{
		margin:auto !important;
	}
}

.footer-logo .social-media{
	display:inline-flex;
}
/* BUTTONS */
.button-green{
	display:inline-block;
	background: #7cb241;
	padding:10px 15px;
	color:#04281f !important;
	text-align:center;
	border-radius:8px;
	font-weight: 800;
	-moz-transition: all .5s ease, background-color .2s ease;
	-o-transition: all .5s ease, background-color .2s ease;
	-webkit-transition: all .5s ease, background-color .2s ease;
	transition: all .5s ease, background-color .2s ease;
	font-size:14px;
	cursor:pointer;
}
.button-green:hover{
	background: #78a439;
	color:#04281f !important;
}

.button-blue{
	display:inline-block;
	background: #0a6cb3;
	padding:10px 15px;
	color:#fff !important;
	text-align:center;
	border-radius:8px;
	font-weight: 800;
	-moz-transition: all .5s ease, background-color .2s ease;
	-o-transition: all .5s ease, background-color .2s ease;
	-webkit-transition: all .5s ease, background-color .2s ease;
	transition: all .5s ease, background-color .2s ease;
	font-size:14px;
	cursor:pointer;
}
@media screen and (max-width:767.98px){
	.checkout-complete.button-blue{
		font-size:22px;
	}
}

.button-blue:hover{
	color:#fff !important;
	background: #0a5489;
}

@media screen and (min-width:1200px){
	.half-full-background .inside-hover-button{
		width:120px;
		height:50px;
		margin: 20% 40%;
	}
	.one-third-full-background .inside-hover-button{
		width:120px;
		height:50px;
		margin: 35%;
	}
}

.carousel-testimonial-control{
	padding: 5px;
	text-align: center;
	background-color: #ff0000;
	font-size: 16px;
	color: #fff !important;
	border-radius: 8px;
	margin:5px;
}
.carousel-testimonial-control .fa{
	margin-right: 0;
	width:30px
}
.carousel-testimonial-control:hover .fa{
	background: #cd0612;
	color:#fff !important;
}

/*OWL */

.owl-dot{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #333;
	margin-right: 5px;
	display: inline-block; 
	background: #cccccc;
}
.owl-dot.active {
	background: #6f51c7;
}

/* SEARCH */
.search-container {
	float: right;
}
.search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

/*CUSTOM BOOTSTRAP ANIMATION */
.carousel-fade .carousel-inner .carousel-item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.bin-hire-subheader{
	background-color: #9fc54d;
}
.bin-hire-subheader ul{
	margin-bottom:0px !important;
	padding-left:0px;
}

@media screen and (max-width:575.98px){
	.bin-hire-subheader ul li{
		display:block;
		padding: 0 10px;
	}
}
@media screen and (min-width:768px) and (max-width:991.98px){
	.bin-hire-subheader ul li{
		display:block;
		padding: 0 20px;
	}
}
@media screen and (min-width:992px){
	.bin-hire-subheader ul li{
		display:inline-block;
		padding: 0 20px;
	}
}
.bin-hire-subheader ul li a:hover, .bin-hire-subheader ul li a.active{
	color:#000;
}

.bin-hire-main-content .bin-items{
	border-bottom: 1px solid #9fc54d;
}

@media screen and (max-width:767.98px){
	.bin-type-check.form-check .form-check-label{
		font-weight:700;
		font-size:20px;
		margin-left:10px;
	}
}


/** ACCORDION **/
.ezyskip-accordion .accordion-item h3{
	background-color: #dfdddd;
	font-size : 22px !important;
	border-radius : 12px 12px 0 0;
	color: #212529 !important;
}

/** SIZE LIST **/
.size-list{
	background-color: rgba(232,233,234, 0.3);
	min-height:399px;
}

@media screen and (max-width:575.98px){
	.size-list .bin-size{
		background: #ff0;
		text-align: center;
		padding: 40px 0;
		border-radius: 50%;
		width: 25%;
		margin: auto;
	}
}

@media screen and (min-width:576px) and (max-width:767.98px){
	.size-list .bin-size{
		background: #ff0;
		text-align: center;
		padding: 40px 0;
		border-radius: 50%;
		width: 25%;
		margin: auto;
	}
}

@media screen and (min-width:768px) and (max-width:799.98px){
	.size-list .bin-size{
		background: #ff0;
		text-align: center;
		padding: 40px 0;
		border-radius: 50%;
		width: 18%;
		margin: auto;
	}
}

@media screen and (min-width:800px) and (max-width:991.98px){
	.size-list .bin-size{
		background: #ff0;
		text-align: center;
		padding: 40px 0;
		border-radius: 50%;
	}
}

@media screen and (min-width:1200px) and (max-width:1499px){
	.size-list .bin-size{
		background: #ff0;
		text-align: center;
		padding: 40px 0;
		border-radius: 50%;
	}
}
@media screen and (min-width:1500px){
	.size-list .bin-size{
		background: #ff0;
		text-align: center;
		padding: 40px 0;
		border-radius: 50%;
	}
}

/*** Terms & Conditions ***/
.tc_list#first li{
	list-style-type:lower-alpha;
}

.tc_list#second ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.tc_list#second li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

.tc_list#second li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
}

.tc_list#second li li {
    margin: 0;
}

.tc_list#second li li:before {
    content: counters(item, ".") " ";
}

.tc_list#third ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.tc_list#third li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

.tc_list#third li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
}

.tc_list#third li li {
    margin: 0;
}

.tc_list#third li li:before {
    content: counters(item, ".") " ";
}

.cant_put h3,.cant_put ul li{color:#DC0E11 !important;}

/**buttons on header **/
@media screen and (max-width:767.98px){
	.top-header nav.navbar{
		padding:.5rem 0px;
	}
	.navigation.mobile-header nav.navbar{
		padding:0px;
	}
	.navigation.mobile-header .button-green{
		min-width:45%;
	}
	.navigation.mobile-header .button-blue{
		min-width:45%;
	}
}

/** bin sizes **/
.bin-items .form-check{
	padding-left: 0;
}

@media screen and (max-width:991.98px){
	.bin-items .form-check input[type="checkbox"], .bin-items .form-check input[type="radio"]{
		right: 40%;
	}
}
@media screen and (min-width:992px) and (max-width:1199.98px){
	.bin-items .form-check input[type="checkbox"], .bin-items .form-check input[type="radio"]{
		right: 60%;
	}
}
@media screen and (min-width:1200px){
	.bin-items .form-check input[type="checkbox"], .bin-items .form-check input[type="radio"]{
		right: 65%;
	}
}

/** carousel inner **/
@media screen and (min-width:1200px){
	.carousel-inner{
		min-height: 249px;
	}
}


/** Offer bin hire (Dewi, 10-01-2020) **/
.offer-box{
	border-bottom: 1px solid #9fc54d;
}

.text-black{
	color: #000!important;
}

.bottom-footer{
	border-top: 1px solid #c2c2c2;
}

.text-green{
	color: #005343;
}

#menu-footer-menu-1 li a{
	color: #575757;
}

.header-nav.contact-info li a{
	color: #575757;
}